
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./background-logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-content {
    display: flex;
    width: 1200px;
    padding: 15px 0 80px 0px;
}

.img-logo {
    width: 44px;
    height: 50px;
}

.img-logo {
    width: 100%;
}

.title-main {
    width: 73px;
    height: 29px;
    margin: 11px 86px 173px 11px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 100;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to top, #00e0d0, #4aa3cc), linear-gradient(to bottom, #fff, #fff);
}

.navigation-container {
    position: absolute;
    padding: 36px 0 80px 200px;
}

.navigation-list {
    display: flex;
}

.navigation-list .navigation-item:first-of-type a {
    color: #00e0d0;
}

.navigation-list .navigation-item:last-child .navigation-item-text {
    margin-right: 0;
}

.navigation-item-text {
    margin-right: 18px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 0.33px;
    color: #fff;
    cursor: pointer;
}

.welcome-title {
    position: relative;
    font-family: Playfair Display;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 0.32px;
    color: #fff;
}

.welcome-title::after {
    content: '';
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 1px;
    background-color: #00e0d0;
}

.welcome-subtittle {
    width: 771px;
    margin: 60px 0px 50px 0px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: 0.7px;
    text-align: center;
    color: #fff;
}

.btn-tittle {
    margin: 0px 0px 127px 0px;
    padding: 15px 15px 15px 16px;
    border-radius: 2px;
    border: solid 1px #00e0d0;
    background: none;
    font-family: Hammersmith One;
    font-size: 16px;
    color: #00e0d0;
}

.round-objects {
    display: flex;
}

.round-item {
    width: 10px;
    height: 10px;
    margin: 0px 5px 70px 0px;
    border-radius: 50%;
    border: solid 1px #c2c2c2;
}

.round-item:first-child {
    background-color: #00e0d0;
}
