@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  outline: none;
}

html, body {
  height: 100%;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: url("../../img/background-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-content {
  display: flex;
  align-items: center;
  padding: 15px 0 163px 0px;
}

.img-logo {
  width: 44px;
  height: 50px;
}
.img-logo:hover {
  color: lightblue;
}

.title-main {
  margin-left: 11px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 100;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to top, #00e0d0, #4aa3cc), linear-gradient(to bottom, #fff, #fff);
}

.navigation-container {
  margin-top: 9px;
  margin-left: 286px;
}

.navigation-list {
  display: flex;
}
.navigation-list-item {
  margin-right: 18px;
}
.navigation-list-item:first-of-type a {
  color: #00e0d0;
}
.navigation-list-item:last-child {
  margin-right: 0;
}
.navigation-list-item-text {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 0.33px;
  color: #fff;
  cursor: pointer;
}
.navigation-list-item-text:hover {
  color: lightblue;
}

.navigation-list .navigation-item:last-child .navigation-item-text {
  margin-right: 0;
}

.welcome-title {
  position: relative;
  font-family: Playfair Display;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 0.32px;
  color: #fff;
}

.welcome-title::after {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 1px;
  background-color: #00e0d0;
}

.welcome-subtittle {
  width: 771px;
  margin: 60px 0px 50px 0px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: 0.7px;
  text-align: center;
  color: #fff;
}

.btn-tittle {
  margin: 0px 0px 127px 0px;
  padding: 15px 15px 15px 16px;
  font-family: Hammersmith One;
  font-size: 16px;
  border-radius: 2px;
  border: solid 1px #00e0d0;
  background: none;
  color: #00e0d0;
  cursor: pointer;
}
.btn-tittle:hover {
  color: lightblue;
}

.round-buttons {
  display: flex;
}

.round-button {
  width: 10px;
  height: 10px;
  margin: 0px 5px 70px 0px;
  padding: 0;
  border-radius: 50%;
  border: solid 1px #c2c2c2;
  background: none;
  cursor: pointer;
}
.round-button:hover {
  color: lightblue;
}

.round-button:first-child {
  background-color: #00e0d0;
}

.story-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0px 103px 0px;
}

.story-content {
  display: flex;
}

.story-picture {
  width: 235px;
  height: 229px;
}

.img {
  width: 100%;
}

.story-container {
  margin-left: 100px;
}

.title {
  margin-bottom: 28px;
  font-family: Playfair Display;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1.1px;
  color: #413d4b;
}

.story-text {
  width: 538px;
  margin-bottom: 31px;
  opacity: 0.75;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  letter-spacing: 0.42px;
  color: rgba(65, 61, 75, 0.75);
}

.story-section .btn-tittle {
  margin: 0px;
}

.video-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 202px 0px 202px 0px;
  background-image: url("../../img/background-video.png");
  cursor: pointer;
}

.video-picture {
  width: 100px;
  height: 100px;
}

.video-tittle {
  width: 159px;
  margin-top: 34px;
  margin-left: -30px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.8px;
  color: #fff;
}
.video-tittle:hover {
  color: lightblue;
}

.expertise-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 71px 0px 101px 0px;
}
.expertise-section .title {
  text-align: center;
  margin-bottom: 16px;
}

.expertise-content {
  max-width: 1200px;
}

.text {
  position: relative;
  margin-bottom: 104px;
  opacity: 0.75;
  font-family: Playfair Display;
  font-size: 14px;
  letter-spacing: 1.05px;
  text-align: center;
  color: rgba(47, 45, 53, 0.75);
}
.text::after {
  position: absolute;
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.3;
  background-color: #413d4b;
}

.expertise-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
}
.expertise-container .expertise-container-subtitle {
  margin: 35px 0px 25px 0px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.7px;
  text-align: center;
  color: #413d4b;
  cursor: pointer;
}
.expertise-container .expertise-container-subtitle:hover {
  color: lightblue;
}
.expertise-container .expertise-container-description {
  width: 254px;
  margin: 25px 33px 39px 33px;
  opacity: 0.75;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  letter-spacing: 0.7px;
  text-align: center;
  color: rgba(51, 51, 51, 0.75);
  cursor: pointer;
}
.expertise-container .expertise-container-description.expertise-item-mobile, .expertise-container .expertise-container-description.expertise-item-love {
  margin-right: 0;
}
.expertise-container .expertise-container-description:hover {
  color: lightblue;
}

.expertise-item-design,
.expertise-item-branding,
.expertise-item-mobile,
.expertise-item-search,
.expertise-item-game,
.expertise-item-love {
  position: relative;
}
.expertise-item-design::before,
.expertise-item-branding::before,
.expertise-item-mobile::before,
.expertise-item-search::before,
.expertise-item-game::before,
.expertise-item-love::before {
  content: "";
  display: block;
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.expertise-item-design::before {
  width: 50px;
  height: 49px;
  background-image: url("../../img/web-icon.png");
  background-size: cover;
  background-position: center;
}

.expertise-item-branding::before {
  width: 50px;
  height: 42px;
  background-image: url("../../img/pencil-icon.png");
  background-size: cover;
  background-position: center;
}

.expertise-item-mobile::before {
  width: 28px;
  height: 50px;
  background-image: url("../../img/mobile-icon.png");
  background-size: cover;
  background-position: center;
}

.expertise-item-search::before {
  width: 50px;
  height: 50px;
  background-image: url("../../img/search-icon.png");
  background-size: cover;
  background-position: center;
}

.expertise-item-game::before {
  width: 41px;
  height: 50px;
  background-image: url("../../img/game-icon.png");
  background-size: cover;
  background-position: center;
}

.expertise-item-love::before {
  width: 50px;
  height: 46px;
  background-image: url("../../img/love-icon.png");
  background-size: cover;
  background-position: center;
}

.expertise-item-design:not(:nth-last-child(-n+3)),
.expertise-item-branding:not(:nth-last-child(-n+3)),
.expertise-item-mobile:not(:nth-last-child(-n+3)) {
  margin-bottom: 79px;
}
.expertise-item-design::after,
.expertise-item-branding::after,
.expertise-item-mobile::after {
  position: absolute;
  content: "";
  display: block;
  width: 1200px;
  height: 1px;
  transform: translateX(-74%);
  background-color: gray;
}

.expertise-item-design::after,
.expertise-item-search::after {
  content: "";
  position: absolute;
  top: -100px;
  left: calc(100% + 25px);
  width: 1px;
  height: 470px;
  margin: 48px 33px 0 33px;
}

.expertise-item-branding::after,
.expertise-item-game::after {
  content: "";
  position: absolute;
  top: -100px;
  left: calc(100% + 25px);
  width: 1px;
  height: 470px;
  margin: 48px 33px 0 33px;
}

.team-section {
  display: flex;
  justify-content: center;
  padding: 71px 0px 69px 0px;
  background-image: url("../../img/background-team.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.team-section .title {
  margin-bottom: 16px;
  text-align: center;
  color: white;
}
.team-section .text {
  color: #f9f9f9;
}
.team-section .text::after {
  position: absolute;
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.3;
  background-color: white;
}
.team-section .team-content {
  min-width: 1200px;
  max-width: 1200px;
}
.team-section .team-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}
.team-section .team-worker {
  width: 220px;
  height: 229px;
}
.team-section .team-worker::after {
  position: absolute;
  content: "";
  display: block;
  width: 218.5px;
  height: 80px;
  margin-top: -65px;
  opacity: 0.5;
  border: solid 1px #e1e1e1;
  pointer-events: none;
}
.team-section .team-name {
  margin: 23px 0px 12px 0px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.7px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.team-section .team-name:hover {
  color: lightblue;
}
.team-section .team-post {
  display: block;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  opacity: 0.7;
  color: rgba(250, 250, 250, 0.7);
}
.team-section .team-text {
  margin: 149px 0px 26px 0px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
  text-align: center;
  color: #f3f3f3;
}
.team-section .team-btn {
  display: block;
  margin: 0 auto;
  padding: 15px 15px 15px 14px;
  font-family: Hammersmith One;
  font-size: 16px;
  border-radius: 2.3px;
  border: solid 1px #00e0d0;
  background: none;
  color: #00e0d0;
  cursor: pointer;
}
.team-section .team-btn:hover {
  color: lightblue;
}

/*# sourceMappingURL=styles.css.map */
