.expertise-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 71px 0px 101px 0px;
  
  .title {
    text-align: center;
    margin-bottom: 16px;
    color: $color-primary;
  }
}
  
.expertise-content {
  max-width: 1200px;
}
  
.text {
  position: relative;
  margin-bottom: 104px;
  opacity: 0.75;
  font-family: Playfair Display;
  font-size: 14px;
  letter-spacing: 1.05px;
  text-align: center;
}

.expertise-section .text {
    color: rgba(47, 45, 53, 0.75);
    @include separator($color-primary);
  }
  
  .expertise-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1100px;
  
  
    .expertise-container-subtitle {
      margin: 35px 0px 25px 0px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 900;
      letter-spacing: 0.7px;
      text-align: center;
      color: $color-primary;
      cursor: pointer;

      &:hover {
        color: $base-color;
      }
    }
  
    .expertise-container-description {
      margin: 25px 33px 39px 33px;
      opacity: 0.75;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.57;
      letter-spacing: 0.7px;
      text-align: center;
      color: rgba(51, 51, 51, 0.75);
      cursor: pointer;
  
      &.expertise-item-mobile,
      &.expertise-item-love {
        margin-right: 0;
      }

      &:hover {
        color: $base-color;
      }
    }
  }
  
.expertise-item {
  width: 33.33%;

  &:not(:nth-child(3n)) {
    border-right: 1px solid #000;
  }
  &:not(:nth-last-child(-n+3)) {
    border-bottom: 1px solid #000;
  }
}
  
.expertise-item-design,
.expertise-item-branding,
.expertise-item-mobile,
.expertise-item-search,
.expertise-item-game,
.expertise-item-love {
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }
}

.expertise-picture {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}







