.expertise-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 71px 0px 101px 0px;
  
    .title {
      text-align: center;
      margin-bottom: 16px;
    }
  }
  
  .expertise-content {
    max-width: 1200px;
  }
  
  .expertise-text {
    position: relative;
    margin-bottom: 104px;
    opacity: 0.75;
    font-family: Playfair Display;
    font-size: 14px;
    letter-spacing: 1.05px;
    text-align: center;
    color: rgba(47, 45, 53, 0.75);
  
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 50px;
      height: 2px;
      bottom: -18px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0.3;
      background-color: #413d4b;
    }
  }
  
  .expertise-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
  
  
    .expertise-container-subtitle {
      margin: 35px 0px 25px 0px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 900;
      letter-spacing: 0.7px;
      text-align: center;
      color: #413d4b;
      cursor: pointer;

      &:hover {
        color: lightblue;
      }
    }
  
    .expertise-container-description {
      width: 254px;
      margin: 25px 33px 39px 33px;
      opacity: 0.75;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.57;
      letter-spacing: 0.7px;
      text-align: center;
      color: rgba(51, 51, 51, 0.75);
      cursor: pointer;
  
      &.expertise-item-mobile,
      &.expertise-item-love {
        margin-right: 0;
      }

      &:hover {
        color: lightblue;
      }
    }
  }
  
  .expertise-item-design,
  .expertise-item-branding,
  .expertise-item-mobile,
  .expertise-item-search,
  .expertise-item-game,
  .expertise-item-love {
    position: relative;
  
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -32px;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
    }
  }
  
  .expertise-item-design::before {
    width: 50px;
    height: 49px;
    background-image: url("../../img/web-icon.png");
    background-size: cover;
    background-position: center;
  }
  
  .expertise-item-branding::before {
    width: 50px;
    height: 42px;
    background-image: url("../../img/pencil-icon.png");
    background-size: cover;
    background-position: center;
  }
  
  .expertise-item-mobile::before {
    width: 28px;
    height: 50px;
    background-image: url("../../img/mobile-icon.png");
    background-size: cover;
    background-position: center;
  }
  
  .expertise-item-search::before {
    width: 50px;
    height: 50px;
    background-image: url("../../img/search-icon.png");
    background-size: cover;
    background-position: center;
  }
  
  .expertise-item-game::before {
    width: 41px;
    height: 50px;
    background-image: url("../../img/game-icon.png");
    background-size: cover;
    background-position: center;
  }
  
  .expertise-item-love::before {
    width: 50px;
    height: 46px;
    background-image: url("../../img/love-icon.png");
    background-size: cover;
    background-position: center;
  }
  
  .expertise-item-design,
  .expertise-item-branding,
  .expertise-item-mobile {
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 79px;
    }
  
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 1200px;
      height: 1px;
      transform: translateX(-74%);
      background-color: gray;
    }
  }
  
  .expertise-item-design::after,
  .expertise-item-search::after {
    content: "";
    position: absolute;
    top: -100px;
    left: calc(100% + 25px);
    width: 1px;
    height: 470px;
    margin: 48px 33px 0 33px;
  }
  
  .expertise-item-branding::after,
  .expertise-item-game::after {
    content: "";
    position: absolute;
    top: -100px;
    left: calc(100% + 25px);
    width: 1px;
    height: 470px;
    margin: 48px 33px 0 33px;
  }
  