.footer-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 70px 0px 72px 0px;
    background-image: url("../../img/background-footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-bottom: 46px;
}

.footer-logo-link {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}

.footer-title {
    margin-top: 20px;
    margin-bottom: 39px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 0.75px;
    color: $color-words;
}

.footer-text-info {
    width: 283px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.86;
    letter-spacing: 0.35px;
    color: $color-words;
}

.footer-container-contacts {
    display: flex;
    flex-direction: column;
}

.footer-local {
    display: flex;
    width: 300px;
    margin-bottom: 27px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.86;
    letter-spacing: 0.35px;
    color: $color-words;
    @include hover-color;
}

.footer-local-img {
    width: 30px;
    height: 19px;
    margin-top: 4px;
    margin-right: 16px;
    @include hover-style;
}

.footer-phone {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    color: $color-words;
    @include hover-color;
}

.footer-phone-img {
    width: 17px;
    height: 17px;
    margin-right: 10px;
    @include hover-style;
}

.footer-form {
    display: flex;
    margin-bottom: 27px;

    input {
        padding: 17px 26px 17px 16px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.7px;
        opacity: 0.5;
        border: solid 1px $color-words;
        background: none;

        &::placeholder { 
            opacity: 0.75;
            color: rgba(255, 255, 255, 0.75);
        }

        &:focus {
            color: $color-words;
        }
    }

    .footer-btn {
        margin-left: 10px;
        padding: 10px 22px 10px 23px;
        opacity: 0.5;
        border: solid 1px $color-words;
        background-color: $color-words;
        cursor: pointer;
        @include hover-style;
    }
}

.footer-social-networks {
    display: flex;
}

.round-object {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    margin-right: 8px;
    border-radius: 50%;
    border: solid 1px $color-words;
    @include hover-style;

    &.round-object:last-child {
        margin-right: 0;
    }
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.footer-navigation {
    display: flex;

    .navigation-item {
        margin-right: 17px;
    }

    .navigation-item:last-child {
        margin-right: 0px;
    }

    .navigation-text {
        font-family: Roboto;
        font-size: 14px;

        letter-spacing: 0.35px;
        color: $color-words;
        cursor: pointer;
    
        &:hover {
            color: $base-color;
        }
    }
       
}

.footer-style {
    margin-right: 5px;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 0.35px;
    color: $color-words;

    &.footer-style:last-child {
        margin-right: 0px;
        @include hover-color;
        cursor: pointer;
    }
}
