.team-section {
    display: flex;
    justify-content: center;
    padding: 71px 0px 69px 0px;
    background-image: url("../../img/background-team.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .title {
        margin-bottom: 16px;
        color: $color-words;
    }
}

.text {
    color: #f9f9f9;
    @include separator(white);
}

.team-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.team-worker {
    width: 270px;
    height: 300px;
    margin-bottom: 20px;

    &::after {
        position: absolute;
        content: '';
        display: block;
        width: 269px;
        height: 380px;
        margin-top: -303px;
        opacity: 0.5;
        border: solid 1px #e1e1e1;
        pointer-events: none;
    }
}

.team-name {
    margin-bottom: 12px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 0.7px;
    text-align: center;
    color: $color-words;
    cursor: pointer;

    &:hover {
        color: $base-color;
    }
}

.team-post {
    display: block;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    opacity: 0.7;
    color: rgba(250, 250, 250, 0.7);
}

.team-text {
    margin: 98px 0px 26px 0px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
    text-align: center;
    color: #f3f3f3;
}

    .team-btn {
        display: block;
        margin: 0 auto;
        padding: 15px 15px 15px 14px;
        font-family: Hammersmith One;
        font-size: 16px;
        border-radius: 2.3px;
        border: solid 1px color-text;
        background: none;
        color: $color-text;
        cursor: pointer;

        &:hover {
            color: $base-color;
        }
    }
