.video-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    padding: 202px 0px 202px 0px;
    background-image: url("../../img/background-video.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.video-picture {
    width: 100px;
    height: 100px;
    margin-bottom: 34px;
}

.video-tittle {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.8px;
    color: $color-words;

    &:hover {
        color: $base-color;
    }
}
