
.welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: url("../../img/background-logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-content {
    display: flex;
    align-items: center;
    padding: 15px 0 163px 0px;
}

.logo-link {
    display: flex;
    align-items: center;
    margin-right: 286px;
}

.img-logo {
    width: 44px;
    height: 50px;
}

.title-main {
    margin-left: 11px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 100;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to top, #00e0d0, #4aa3cc), linear-gradient(to bottom, #fff, #fff);
}

.navigation-list {
    display: flex;

    &-item {
        margin-right: 18px;
        &:first-of-type a {
            color: $color-text;
        }

        &:last-child {
            margin-right: 0;
        }

        &-text {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 900;
            letter-spacing: 0.33px;
            color: $color-words;  
            cursor: pointer;

            &:hover {
                color: $base-color;
            }
        }    
    }
}

.navigation-list-item:last-child {
    margin-right: 0;
}

.welcome-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.welcome-title {
    position: relative;
    margin-bottom: 52px;
    font-family: Playfair Display;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 0.32px;
    color: $color-words;
    @include separator;
   
}

.welcome-subtittle {
    width: 771px;
    margin-bottom: 50px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: 0.7px;
    text-align: center;
    color: $color-words;
}

.round-buttons {
    display: flex;
    margin-top: 127px;

    li {
        &:first-child .round-button {
            background-color: $color-text;
        }
    }
}

.round-button {
    width: 10px;
    height: 10px;
    margin: 0px 5px 70px 0px;
    padding: 0;
    border-radius: 50%;
    border: solid 1px #c2c2c2;
    background: none;
    cursor: pointer;
}

