
html, body {
    height: 100%;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to top, #09052f, #311d5e);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-content {
    display: flex;
    align-items: center;
    padding: 15px 0 163px 0px;
}

.img-logo {
    width: 44px;
    height: 50px;
}

.title-main {
    margin-left: 11px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 100;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to top, #00e0d0, #4aa3cc), linear-gradient(to bottom, #fff, #fff);
}

.navigation-container {
    margin-top: 9px;
    margin-left: 286px;
}

.navigation-list {
    display: flex;

    &-item {
        margin-right: 18px;
        &:first-of-type a {
            color: #00e0d0;
        }

        &:last-child {
            margin-right: 0;
        }

        &-text {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 900;
            letter-spacing: 0.33px;
            color: #fff;  
            cursor: pointer; 
        }    
    }
}

.navigation-list .navigation-item:last-child .navigation-item-text {
    margin-right: 0;
}

.welcome-title {
    position: relative;
    font-family: Playfair Display;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 0.32px;
    color: #fff;
}

.welcome-title::after {
    content: '';
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 1px;
    background-color: #00e0d0;
}

.welcome-subtittle {
    width: 771px;
    margin: 60px 0px 50px 0px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: 0.7px;
    text-align: center;
    color: #fff;
}

.btn-tittle {
    margin: 0px 0px 127px 0px;
    padding: 15px 15px 15px 16px;
    font-family: Hammersmith One;
    font-size: 16px;
    border-radius: 2px;
    border: solid 1px #00e0d0;
    background: none;
    color: #00e0d0;
    cursor: pointer;
}

.round-buttons {
    display: flex;
}

.round-button {
    width: 10px;
    height: 10px;
    margin: 0px 5px 70px 0px;
    padding: 0;
    border-radius: 50%;
    border: solid 1px #c2c2c2;
    background: none;
    cursor: pointer;
}

.round-button:first-child {
    background-color: #00e0d0;
}
