.works-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 70px 0px 70px 0px;
}

.works-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 1000px;
    margin-bottom: 70px;

    .title {
        color: $color-primary;
    }
}
.works-subtitle {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
    text-align: right;
    color: $color-primary;

    &::after {
        content: ">";
        margin-left: 10px;
        display: inline-block;
        height: 16px;
        vertical-align: middle;
        cursor: pointer;
        @include hover-style;
  }
}
  
.works-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 70px;

    .rectangle {
        width: 267px;
        height: 200px;
        order: 1;
    }

    .rectangle1 {
        width: 267px;
        height: 200px;
        background-color: #b6b6b6;
        order: 1
    }
    
    .rectangle2 {
        width: 267px;
        height: 200px;
        background-color: #acacac;
        order: 1
    }
    
    .rectangle3 {
        width: 267px;
        height: 200px;
        background-color: #a1a1a1;
        order: 1
    }
    
    .rectangle4 {
        width: 267px;
        height: 200px;
        background-color: #8a8a8a;
        order: 1
    }
    
    .rectangle5 {
        width: 267px;
        height: 200px;
        background-color: #b6b6b6;
        order: 1
    }
    
    .rectangle6 {
        width: 267px;
        height: 200px;
        background-color: #a4a4a4;
        order: 1
    }
    
    .rectangle7 {
        width: 267px;
        height: 200px;
        background-color: #a4a4a4;
        order: 2
    }
    
    .rectangle8 {
        width: 267px;
        height: 200px;
        background-color: #b6b6b6;
        order: 2
    }
    
    .rectangle9 {
        width: 267px;
        height: 200px;
        background-color: #8a8a8a;
        order: 2
    }
    
    .rectangle10 {
        width: 267px;
        height: 200px;
        background-color: #a1a1a1;
        order: 2
    }
    
    .rectangle11 {
        width: 267px;
        height: 200px;
        background-color: #acacac;
        order: 2
    }
    
    .rectangle12 {
        width: 267px;
        height: 200px;
        background-color: #b6b6b6;
        order: 2
    }
}

.works-btn {
    height: 40px;
    padding: 0px 28px 0px 28px;
    font-family: Hammersmith One;
    font-size: 16px;
    border-radius: 2.3px;
    border: solid 1px $color-text;
    background: none;
    color: $color-text;
    cursor: pointer;
    @include hover-color;
}










